# Supabase 설정 정보
# 이 파일은 개발 환경에서 프론트엔드와 백엔드가 참조할 수 있도록 작성되었습니다.

# [Frontend / Backend 공통]
NEXT_PUBLIC_SUPABASE_URL=https://krbziqhrgcglfjksdxwn.supabase.co

# 아래 공개 키(Publishable Key) 중 하나를 클라이언트 단에서 사용합니다.
# 권장(최신): publishable key
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_S5aNhr_vbQcPa9ewPwCiRw_ryqVG3eZ
# 구(Legacy) 키가 필요한 경우:
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtyYnppcWhyZ2NnbGZqa3NkeHduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NzAyMzMsImV4cCI6MjA4OTQ0NjIzM30.kgEmwQHI7vspMqIyZY5PEoJT156zgj8Rzm6sTfzoELY
# Supabase
SUPABASE_URL=https://krbziqhrgcglfjksdxwn.supabase.co
SUPABASE_KEY=sb_publishable_S5aNhr_vbQcPa9ewPwCiRw_ryqVG3eZ

# Oracle Cloud Autonomous Database
DB_USER=admin
DB_PASSWORD=a7cn$nWqds83n31
DB_DSN=ratemyhotlapdb_high  # 다운로드받은 Wallet 안의 tnsnames.ora를 확인해 _high 등이 붙은 이름 기입
WALLET_LOCATION=./wallet  # Wallet 압축해제한 폴더 경로

# Oracle Cloud Object Storage
OCI_NAMESPACE=axoskxziz16q
OCI_ACCESS_KEY=d8765c0902d56e10fade61fa4fd843ec8763d19f
OCI_SECRET_KEY=68V2CZAuvpx4q6sWVJR9fay65hYH5nrq0NIBuxTwwsU=
OCI_BUCKET_NAME=telemetries_backups
